<div class="container-fluid"> 
        <h2 class="font-weight-bold">QUIEN SOY</h2>
    <div class="row">
        <div class="col-md-6">
            <p class="lead text-justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo, sunt quae maxime non quas animi unde,
                asperiores aspernatur, optio commodi laboriosam dolorum dolorem eveniet nesciunt. 
                Aut quaerat molestias nesciunt obcaecati!
            </p>
            
        </div>
        <div class="col-md-6">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Non excepturi neque provident 
                voluptate saepe! Nemo, quidem suscipit veniam atque voluptas repellat sint asperiores,
                 exercitationem molestiae molestias ducimus odit perferendis consequatur.
            </p>
        </div>
    </div>
</div>